{% extends "layout.html" %}
{% block head %}
        <!-- Page Header-->
      
        
        <header class="masthead" style="background-image: url('static/images/services.jpg');"></div>
          <div class="container position-relative px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-12 col-lg-8 col-xl-7">
                      <div class="site-heading">
                          <h1>Expert Services at Your Fingertips</h1  >
                          <span class="subheading"> Discover Our Service Portfolio
                              <hr>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>



      
   </header>


        <!-- Post Content-->
        <article class="mb-4">
            <div class=" px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-12 col-lg-8 col-xl-11">
                        <div style="margin-left: 20px;;">
                            <p>
                        <h1 class="section-heading" ><Base> The Hotel Sea View Provide a Better Services For You. </Base></h1>
                           <div class="space"> 
                           
                           
<div class="index13">
  <div>
  <div class="main-row">

      <div style="width: 1000px;margin-left: 150px;margin-top: 50px;   height: 550px; box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;padding: 20px;background-image:url('static/images/best_sevices.jpg');background-size:cover ;"data-aos="slide-up">
        
      </div>
    </div>
    <div class="index13">
      <div >
      <div class="main-row"> 
      <div style="width: 400px;margin-left: -150px;margin-top: -520px;height: 500px; box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;padding: 20px;background-color: white;  "data-aos="slide-up">  
        <h1>Service Introduction of Hotel Sea View</h1>
        <p style="font-size: 25px;">Welcome to our luxurious hotel, where comfort and hospitality converge to create an unforgettable experience. 
          With a prime location in the heart of the city, we offer easy access to major attractions and business centers. 
          Our elegant rooms and suites are designed to cater to your every need, providing a peaceful retreat after a day of exploration or work. 
           </p>
      </div>
      </div>   
          </div>
        </div>
<div class="index12">
  <div >
  <div class="main-row" >
      <div style="width:1000px;height: 550px;margin-left: -100px;   margin-top: 60px;  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px; margin-left: -180px;padding: 20px;background-image:url('static/images/background_services.jpg');background-size:cover ;"data-aos="slide-up">
  
      </div>
  </div> 
  <div>
    <div class="main-row">
        <div id="serviceContentBox" class="content-box" data-aos="slide-up">
            <div style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 10px; position: relative;">
                <!-- Buttons here -->
            </div>
            <div style="height: 400px;" id="serviceContent">
                <!-- Initial content here -->
                <p>Welcome to our services. Please click a button to learn more.</p>
            </div>
        </div>
    </div>
</div>





<div  class="button-container"  style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 10px;margin-top: -400px;position: relative;"data-aos="slide-up">
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(1)">Room services  </button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(2)">Housekeeping</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(3)">Wi-Fi and Internet Access</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(4)">Restaurant and Bar</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(5)">Fitness Center</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(6)">Swimming Pool</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(7)">Spa and Wellness Services</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(8)">Meeting and Event Facilities</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(9)">Business Center</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(10)">24/7 Front Desk and Reception</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(11)">Valet Parking or Parking Facilities</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(12)">Luggage Storage</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(13)">Laundry and Dry Cleaning</button>
  <button style="background-color:#FFFFFF; width: 150px;height:90px;border-radius: 20px;" onclick="showService(14)">Childcare Services</button>
  <!--  ... Repeat for other sections --20</80p20 -->
</div>



<script>
let serviceContentVisible = false; // Track whether the content is visible or hidden

function showService(serviceNumber) {
  // alert(serviceNumber);
    var serviceContent = document.getElementById('serviceContent');
    var content = '';


    
  switch (serviceNumber) {
    case 1:
      content = `
      
        <p class="Services2">Welcome to Our Hotel Room Service</p>
        <p class="Services2">Menu and Ordering</p>
        <p>Create a memorable dining experience right in your room with our diverse room service menu. From delicious breakfast
        options to mouthwatering dinners, we've got you covered.</p>
        
        <p class="Services2">Menu Creation and Description</p>
        <p>Indulge in our carefully crafted menu featuring breakfast, lunch, dinner, and snack choices. Each menu item comes
        with detailed descriptions, including ingredients, preparation methods, and any dietary information.</p>
        
        <p class="Services2">Menu Presentation</p>
        <p>Find our visually appealing room service menus conveniently placed in your guest room. Enjoy easy access to a
        wide variety of options, all designed to enhance your stay.</p>
        
        <p class="Services2">Digital Options</p>
        <p>If you prefer a digital experience, our official website offers an online room service menu. Accessible from your
        smartphone or tablet, it ensures you're just a click away from satisfying your cravings.</p>
        <p class="Services2">Placing Your Order</p>
    <p>Ordering room service is a breeze. Follow these simple steps:</p>

    <ol>
        <li>Call our dedicated room service number provided in your room.</li>
        <li>Use our user-friendly hotel app to place your order online.</li>
        <li>Fill out an order form and leave it outside your door for pickup.</li>
    </ol>

    <p>We strive to deliver your order promptly. Please allow the specified time for preparation and delivery.</p>

    <p class="Services2">Operating Hours</p>
    <p class="room_hour">Our room service is available during the following hours:<br>
    Breakfast: 6:00 AM - 10:00 AM<br>
    Lunch: 12:00 PM - 3:00 PM<br>
    Dinner: 6:00 PM - 10:00 PM<br>
    For late-night cravings, our 24-hour service ensures you're never hungry, no matter the time.</p>

    <p class="Services2">Contact Information</p>
    <p>For inquiries and orders, reach our room service team at:</p>
    <p>Phone: (123) 456-7890</p>
    <p>Email: roomservice@hotel.com</p>

    <p class="Services2">Feedback and Special Requests</p>
    <p>Your satisfaction is our priority. Feel free to provide feedback on your room service experience. We're here to
        accommodate special dietary needs and preferences, so don't hesitate to let us know your requirements.</p>

     <p class="Services2">Staff and Service Excellence</p>
    <p>Our well-trained staff is ready to assist you. From taking accurate orders to delivering with a smile, we aim to
        provide top-notch service that adds an extra layer of comfort to your stay.</p>

     <p class="Services2">Promotions and Specials</p>
    <p>Don't miss out on our current promotions and daily specials. Elevate your dining experience with enticing deals
        that complement your stay.</p>

    <p class="Services2">Stay Updated</p>
    <p>We're committed to providing the best service. Any changes in menu items, pricing, or operating hours will be
        promptly updated to ensure you have the most current information.</p>
        `;
      break;
      case 2:
        content=` 
                              
                              <form id="housekeepingForm" action="submit_housekeeping_request.php" method="post">
                                  <label for="roomNumber">Room Number:</label>
                                  <input type="text" id="roomNumber" name="roomNumber" required><br><br>
                                  
                                  <label for="requestType">Request Type:</label>
                                  <select id="requestType" name="requestType" required>
                                      <option value="towels">Extra Towels</option>
                                      <option value="cleaning">Cleaning</option>
                                      <option value="linen">Bed Linen Change</option>
                                      <!-- Add more options as needed -->
                                  </select><br><br>
                                  
                                  <label for="notes">Additional Notes:</label><br>
                                  <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>
                                  <a href="house_keeping_submit.html" class="btn btn-secondary">Submit</a>
                          </form>
                          </p>  `

      break;
      case 3:
        content=`
                              <br>
                           <p class="Services2">WiFi Network Details</p>
    <ul>
        <li><strong>Network Name (SSID):</strong> HotelGuestWiFi</li>
        <li><strong>Password:</strong> Welcome123</li>
    </ul>
    
    <p class="Services2">Internet Access</p>
    <p>High-speed wired and wireless internet connections are available in all rooms and public areas.</p>
    
    <p class="Services2">Business Center</p>
    <p>For business travelers, a fully-equipped business center with computers, printers, and high-speed internet access is available.</p>
    
    <p class="Services2">In-Room Entertainment</p>
    <p>Guests can enjoy streaming services, online content, and access to the internet through the in-room smart TVs.</p>
    
    <p class="Services2">Technical Support</p>
    <p>If you encounter any issues with the WiFi or internet access, please contact the front desk for technical assistance.<br>
  Contact Information: frontdesk@hotel.com | Phone: 123-456-7890</p>


                            </p>  `
        break
        case 4:
        content=` 
                                <p class="Services2">On-Site Restaurant</p>
                                <p>Indulge in delicious culinary experiences at our on-site restaurant, offering a diverse menu of local and international dishes.</p>
                                
                                <p class="Services2">Operating Hours</p>
                                <ul>
                                    <li><strong>Breakfast:</strong> 7:00 AM - 10:00 AM</li>
                                    <li><strong>Lunch:</strong> 12:00 PM - 2:00 PM</li>
                                    <li><strong>Dinner:</strong> 6:00 PM - 10:00 PM</li>
                                </ul>
                                
                                <p class="Services2">Bar and Lounge</p>
                                <p>Unwind and relax at our cozy bar and lounge, offering a wide selection of beverages, cocktails, and snacks.</p>
                                
                                <p class="Services2">Happy Hour</p>
                                <p>Join us for happy hour specials every evening from 5:00 PM to 7:00 PM.</p>
                                
                                <p class="Services2">In-Room Dining</p>
                                <p>Enjoy the convenience of in-room dining with our 24-hour room service, offering a range of meals and snacks.</p>
                                
                                <p class="Services2">Special Events</p>
                                <p>Our restaurant and bar are available for private events, parties, and celebrations. Contact our event coordinator for more information.</p>
                                
                                <p class="Services2">Reservations</p>
                                <p>We recommend making reservations for the restaurant and bar in advance to secure your table. You can make reservations online or by calling our front desk.<br>
                                    Contact Information: reservations@hotel.com | Phone: 123-456-7890</p>
                                </p> `
        break
        case 5:
        content=`  
                                
                                <p class="Services2">On-Site Restaurant</p>
    <p>Indulge in delicious culinary experiences at our on-site restaurant, offering a diverse menu of local and international dishes.</p>
    
    <p class="Services2">Operating Hours</p>
    <ul>
        <li><strong>Breakfast:</strong> 7:00 AM - 10:00 AM</li>
        <li><strong>Lunch:</strong> 12:00 PM - 2:00 PM</li>
        <li><strong>Dinner:</strong> 6:00 PM - 10:00 PM</li>
    </ul>
    
    <p class="Services2">Bar and Lounge</p>
    <p>Unwind and relax at our cozy bar and lounge, offering a wide selection of beverages, cocktails, and snacks.</p>
    
    <p class="Services2">Happy Hour</p>
    <p>Join us for happy hour specials every evening from 5:00 PM to 7:00 PM.</p>
    
    <p class="Services2">In-Room Dining</p>
    <p>Enjoy the convenience of in-room dining with our 24-hour room service, offering a range of meals and snacks.</p>
    
    <p class="Services2">Special Events</p>
    <p>Our restaurant and bar are available for private events, parties, and celebrations. Contact our event coordinator for more information.<br>
        Contact Information: reservations@hotel.com | Phone: 123-456-7890</p>


                            </p> `
        break
        case 6:
        content=`
                              
                              <p>Welcome to our hotel swimming pool! Our pool is open year-round and offers a relaxing and refreshing experience for our guests. Whether you're looking to unwind, have fun with family, or simply enjoy the water, our pool is the perfect destination.</p>
                              <p>Key Features:</p>
                              <ul>
                                <li>Crystal-clear water</li>
                                <li>Comfortable lounge area</li>
                                <li>Separate shallow pool for children</li>
                                <li>Poolside bar</li>
                                <li>Regular events</li>
                              </ul>
                              <p>Contact our front desk for pool hours and more information. We look forward to making your stay enjoyable.</p>
                          </p>  `
        break
        case 7:
        content=`    
                                
                                <p>Indulge in our luxurious spa and wellness services for a truly rejuvenating experience. Our dedicated team is here to ensure your relaxation and well-being are our top priorities.</p>
                                
                                <p class="Services2">Services</p>
                                <ul>
                                  <li><strong>Massage Therapy:</strong> Choose from a variety of massage techniques, including Swedish, deep tissue, and hot stone, tailored to your preferences.</li>
                                  <li><strong>Facials:</strong> Rejuvenate your skin with our customized facial treatments, designed to cleanse, hydrate, and revitalize.</li>
                                  <li><strong>Body Treatments:</strong> Pamper yourself with exfoliating body scrubs, detoxifying wraps, and other luxurious treatments.</li>
                                  <li><strong>Yoga and Meditation:</strong> Join our daily yoga and meditation classes to restore balance to your mind and body.</li>
                                </ul>
                                
                                <p class="Services2">Facilities</p>
                                <p>Our spa facilities include:</p>
                                <ul>
                                  <li>Relaxation lounges</li>
                                  <li>Steam rooms and saunas</li>
                                  <li>Hydrotherapy pools</li>
                                  <li>Fitness center</li>
                                </ul>
                                
                                <p class="Services2">Book an Appointment</p>
                                <p>To book a spa appointment or inquire about our services, please contact our front desk. We're here to help you create a personalized spa experience.</p>

                            </p> `
        break
        case 8:
        content=`
                               
                               <p>Host your next event or meeting at our versatile and well-equipped facilities. We offer a range of spaces to accommodate gatherings of various sizes, ensuring a successful and memorable event.</p>
                               
                               <p class="Services2">Facilities</p>
                               <p>Our meeting and event facilities include:</p>
                               <ul>
                                 <li><strong>Conference Rooms:</strong> Spacious rooms with modern audiovisual equipment, perfect for conferences and presentations.</li>
                                 <li><strong>Ballrooms:</strong> Elegant ballrooms suitable for weddings, galas, and larger events, with customizable layout options.</li>
                                 <li><strong>Boardrooms:</strong> Intimate boardrooms for executive meetings and smaller gatherings, equipped with state-of-the-art technology.</li>
                                 <li><strong>Outdoor Spaces:</strong> Scenic outdoor areas ideal for receptions, cocktail parties, and networking events.</li>
                               </ul>
                               
                               <p class="Services2">Services</p>
                               <p>Our dedicated event planning team is available to assist you with:</p>
                               <ul>
                                 <li>Event coordination and logistics</li>
                                 <li>Customized catering options</li>
                                 <li>Audiovisual setup and technical support</li>
                                 <li>Seating arrangements and decor</li>
                               </ul>
                               
                               <p class="Services2">Book an Event</p>
                               <p>To inquire about hosting an event or meeting at our facilities, please contact our event planning team. We're committed to helping you create a seamless and successful event.</p>
                               
                               <p>From corporate meetings to social gatherings, our meeting and event spaces provide the perfect backdrop for your occasion. We look forward to making your event truly special!</p>
                             </body>
                           </p>  `
        break
        case 9:
        content=` 
                              
                              <p>Our hotel's business center is designed to meet the needs of modern business travelers. Whether you're here for a conference, a meeting, or simply need a productive workspace, our business center has you covered.</p>
                              
                              <p class="Services2">Facilities and Services</p>
                              <p>Our business center offers a range of facilities and services:</p>
                              <ul>
                                <li><strong>Workstations:</strong> Comfortable workstations with high-speed internet access and ergonomic seating.</li>
                                <li><strong>Printing and Scanning:</strong> Access to printing, scanning, and photocopying services for your documents and materials.</li>
                                <li><strong>Meeting Rooms:</strong> Private meeting rooms equipped with audiovisual technology for presentations and discussions.</li>
                                <li><strong>Technical Support:</strong> On-site staff to assist with any technical issues or equipment setup.</li>
                                <li><strong>Business Services:</strong> Concierge assistance, courier services, and more to support your business needs.</li>
                              </ul>
                              
                              <p class="Services2">Availability</p>
                              <p>Our business center is open during regular hours and accessible to hotel guests and event attendees. Whether you need a quiet space to work, a place to hold meetings, or access to essential business services, we're here to help.</p>
                              
                              <p class="Services2">Contact Us</p>
                              <p>If you have any questions or would like to reserve a meeting room, please contact our front desk. Our team is dedicated to ensuring your business needs are met during your stay.</p>
                              
                              <p>Stay productive and connected during your time with us. Our business center is designed to enhance your efficiency and support your work endeavors.</p>

                          </p>  `
        break
        case 10:
        content=`                           
                          
                          <p>Our dedicated front desk and reception team is available around the clock to ensure a seamless and enjoyable experience during your stay with us.</p>
                          
                          <p class="Services2">Services</p>
                          <p>Our 24/7 front desk offers a range of services:</p>
                          <ul>
                            <li><strong>Check-In and Check-Out:</strong> Efficient check-in and check-out processes to get you settled in and on your way.</li>
                            <li><strong>Concierge Assistance:</strong> Our knowledgeable staff can provide recommendations, book reservations, and assist with any inquiries you may have.</li>
                            <li><strong>Security and Assistance:</strong> Rest easy knowing our front desk is available to address any security concerns or provide assistance whenever needed.</li>
                            <li><strong>Travel Information:</strong> Get information about local attractions, transportation options, and more to enhance your stay.</li>
                          </ul>
                          
                          <p class="Services2">Contact Us</p>
                          <p>Whether you need assistance during the day or in the middle of the night, our front desk team is always ready to help. Feel free to reach out to us:</p>
                          <ul>
                            <li><strong>Phone:</strong> Call us at [9373747489]</li>
                            <li><strong>Email:</strong> Send us an email at [nikeshtambe@gmail.com]</li>
                            <li><strong>In-Person:</strong> Visit our front desk located in the hotel lobby</li>
                          </ul>
                          
                          <p class="Services2">We're Here for You</p>
                          <p>Your comfort and satisfaction are our top priorities. Our 24/7 front desk and reception services ensure that you have a hassle-free and enjoyable stay at our hotel.</p>

                      </p>  `
        break
        case 11:
        content=` 
                           
                           <p>We offer convenient parking options to make your stay as smooth and comfortable as possible. Whether you choose our valet parking service or prefer self-parking, we have you covered.</p>
                           
                           <p class="Services2">Valet Parking</p>
                           <p>Our valet parking service provides:</p>
                           <ul>
                             <li>Efficient and hassle-free parking</li>
                             <li>Secure handling of your vehicle</li>
                             <li>Convenient drop-off and pick-up at the hotel entrance</li>
                           </ul>
                           
                           <p class="Services2">Self-Parking Facilities</p>
                           <p>If you prefer to park your vehicle yourself, we offer:</p>
                           <ul>
                             <li>Ample and well-lit parking spaces</li>
                             <li>Easy access to the hotel from the parking area</li>
                             <li>24/7 security and surveillance</li>
                           </ul>
                           
                           <p class="Services2">Availability</p>
                           <p>Both valet and self-parking options are available to hotel guests and visitors. Whether you're here for a short stay or an extended period, you can choose the parking option that best suits your needs.</p>
                   :

                       </p>  `
        break
        case 12:
        content=` 
                              
                              <p>Our hotel offers convenient luggage storage services to ensure you have a comfortable and stress-free stay. Whether you're arriving early, departing late, or simply want to explore the area without your bags, we have a solution for you.</p>
                              
                              <p class="Services2">Services</p>
                              <p>Our luggage storage services include:</p>
                              <ul>
                                <li>Secure and supervised storage for your bags</li>
                                <li>Flexible storage options, from a few hours to extended periods</li>
                                <li>Peace of mind while you enjoy your day</li>
                              </ul>
                              
                              <h2>How It Works</h2>
                              <p>Storing your luggage is easy:</p>
                              <ol>
                                <li>Simply bring your bags to our front desk</li>
                                <li>Our staff will securely store your luggage</li>
                                <li>When you're ready, pick up your bags at your convenience</li>
                              </ol>
                              
                              <p class="Services2">Contact Us</p>
                              <p>If you have any questions or would like to arrange for luggage storage, please contact our front desk:</p>
                              <ul>
                                <li><strong>Phone:</strong> Call us at [front desk phone number]</li>
                                <li><strong>Email:</strong> Send us an email at [front desk email]</li>
                                <li><strong>In-Person:</strong> Visit our front desk located in the hotel lobby</li>
                              </ul>
                              
                              <p class="Services2">Enjoy Your Stay</p>
                              <p>Travel without the burden of your bags and make the most of your time at our hotel and in the surrounding area. We're here to make your stay as convenient and enjoyable as possible.</p>

                          </p> `
        break
        case 13:
        content=`                  
                            
                            <p>Enjoy the convenience of our laundry and dry cleaning services during your stay. We're here to ensure you have fresh and clean clothes without the hassle.</p>
                            
                            <p class="Services2">Services</p>
                            <p>Our laundry and dry cleaning services include:</p>
                            <ul>
                              <li>Regular laundry service for your everyday clothing</li>
                              <li>Dry cleaning for delicate fabrics and special garments</li>
                              <li>Professional stain removal and garment care</li>
                              <li>Fast turnaround times to meet your needs</li>
                            </ul>
                            
                            <p class="Services2">How It Works</p>
                            <p>Using our laundry and dry cleaning services is simple:</p>
                            <ol>
                              <li>Place your items in the provided laundry bag</li>
                              <li>Fill out the service form with your preferences</li>
                              <li>Drop off the bag at our front desk</li>
                              <li>We'll take care of the rest and deliver your clean clothes back to your room</li>
                            </ol>
                            
                            <p class="Services2">Contact Us</p>
                            <p>If you have any questions or would like to schedule laundry or dry cleaning services, please contact our front desk:</p>
                            <ul>
                              <li><strong>Phone:</strong> Call us at [front desk phone number]</li>
                              <li><strong>Email:</strong> Send us an email at [front desk email]</li>
                              <li><strong>In-Person:</strong> Visit our front desk located in the hotel lobby</li>
                            </ul>
                            
                            <p class="Services2">Travel Light and Fresh</p>
                            <p>Don't worry about packing excess clothes. With our laundry and dry cleaning services, you can travel light and always have clean garments throughout your stay.</p>
                          </p> `
        break
        case 14:
        content=` 
                            
                            <p>Enjoy your stay while knowing that your children are in safe and caring hands. Our childcare services provide a fun and secure environment for your little ones.</p>
                            
                            <p class="Services2">Services</p>
                            <p>Our childcare services include:</p>
                            <ul>
                              <li>Qualified and experienced childcare professionals</li>
                              <li>Engaging and age-appropriate activities</li>
                              <li>Indoor and outdoor play areas</li>
                              <li>Flexible scheduling to fit your needs</li>
                            </ul>
                            
                            <p class="Services2">Age Groups</p>
                            <p>We offer childcare services for different age groups:</p>
                            <ul>
                              <li><strong>Infants:</strong> Safe and nurturing care for infants and babies</li>
                              <li><strong>Toddlers:</strong> Playful and educational activities for curious toddlers</li>
                              <li><strong>Children:</strong> Fun and interactive programs for children up to a certain age</li>
                            </ul>
                            
                            <p class="Services2">Booking Information</p>
                            <p>If you're interested in our childcare services, please contact our front desk to inquire about availability, pricing, and booking:</p>
                            <ul>
                              <li><strong>Phone:</strong> Call us at [front desk phone number]</li>
                              <li><strong>Email:</strong> Send us an email at [front desk email]</li>
                              <li><strong>In-Person:</strong> Visit our front desk located in the hotel lobby</li>
                            </ul>
                            
                            <p class="Services2">Enjoy Peace of Mind</p>
                            <p>Relax and enjoy your time at our hotel, knowing that your children are in capable hands and having a great time of their own.</p>
                        </p>
                    </p>
                        
                    </p> `
        break
       
        default:
            content = 'No information available for this service.';
    }

    // Toggle the visibility of the serviceContent div
    // if (serviceContentVisible) {
    //     serviceContent.style.display = 'none'; // Hide the content
    // } else {
    //     serviceContent.style.display = 'block'; // Show the content
    //     serviceContent.innerHTML = content; // Update the content
    // }
    serviceContent.innerHTML = content;
    serviceContentVisible = !serviceContentVisible;
}
</script>
<div class="main-row">
  <div style="width: 1000px;height: 550px;margin-top: 150px;margin-left: 20px;  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;padding: 20px;background-image: url('static/images/services_benifites.jpg');            background-size:cover ;"data-aos="slide-up">
    <h2 style="margin-left: 250px;margin-top: 80px;">Benefits of Staying with Us</h2>
    <ul>
        <li style="margin-left: 250px;" >Comfort and Relaxation</li>
        <li style="margin-left: 250px;">Convenience</li>
        <li style="margin-left: 250px;">Amenities and Services</li>
        <li style="margin-left: 250px;">Hospitality Jobs</li>
        <li style="margin-left: 250px;">Tourism Promotion</li>
        <li style="margin-left: 250px;">Meeting and Event Spaces</li>
        <li style="margin-left: 250px;">Economic Impact</li>
        <li style="margin-left: 250px;">Cultural Exchange</li>
        <li style="margin-left: 250px;">Safety and Security</li>
        <li style="margin-left: 250px;">Tourist Experience</li>
    </ul>

  </div>
</div>
<div class="index13">
  <div >
  <div class="main-row"> 
    
  <div style="width: 400px;margin-left: -280px;margin-top: -520px;height: 500px; box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;padding: 20px;background-color:white;   "data-aos="slide-up">  
    <h1>Benefits of Our Hotel</h1>
    <p  style="font-size: 25px;">Hotels offer various benefits to both travelers and the local community. Here are ten main benefits of hotels:<br>
      These benefits make hotels a preferred choice for travelers seeking comfort, convenience, and memorable experiences during their journeys.</p>
  </div>
  </div>   
      </div>
    </div>
<div class="main-row">
  <div style="width: 1000px;height: 550px;margin-top: 80px;margin-left: -190px;  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;padding: 20px;background-image:url('static/images/about_homepage.jpg');background-size:cover ;"data-aos="slide-up">

  </div>
</div>
<div class="index13">
  <div >
  <div class="main-row"> 
  <div style="width: 400px;margin-left: 680px;margin-top: -520px;height: 500px; box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;padding: 20px;background-color: red;   "data-aos="slide-up" >  
  </div>
  </div>   
      </div>
    </div>

                      
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <style>
          .feedback-container {
              display: flex;
              flex-direction: column;
              align-items: stretch;
              margin-top: 60px;
              margin-right: 300px;
              background-color: 1px solid gray ;
          }
      
          .feedback-row {
              display: flex;
              justify-content: space-between;
              background-color: 1px solid gray ;
          }
      
          .feedback-box {
              padding: 20px;
              background-color: lightgray;
              border: 1px solid gray;
              flex: 1;
          }
          .feedback1{
              margin-top: 120px;
              width: 100%;
             
          }
      </style>
      <div class="feedback1">
      <div class="">
          <div class="feedback-row">
              <div class="feedback-box">
                  <h2>Tha Sea View</h2>
                  <p>Where waves embrace serenity, a stay at our hotel unveils the symphony of the sea.</p>
              </div>
              <div class="feedback-box">
                  <h2>Location</h2>
      
                  <p></p>
                  <h2 style="margin-left: 400px;margin-top: -62px; margin-bottom: 200px;">Contact</h2>
                  <p style="margin-left: 400px;margin-top: -180px;">
                      Email: nikeshtambe@gmail.com<br> 
                      Phone: +1 (123) 456-7890
                  </p>
                  <!-- <h2 style="margin-left: 400px;margin-top: -62px; margin-bottom: 200px;">Contact</h2>
                  <p style="margin-left: 400px;margin-top: -180px;">Leave your feedback here.</p>     -->
              </div>
          </div>
          <div class="feedback-box">
              <h2>Feedback Box 3</h2>
              <p>Leave your feedback here.</p>
          </div>
      </div>
      </div>
       
{% endblock %}